:root {
  --ColorLetrasImgInicio: #faedcd;
  --ColorShadows: rgba(0, 0, 0, 0.1);
  --CardBackground: #fff;
  --CardText: #555;
  --CardFooterBackground: #f0f0f0;
  --CardFooterBorder-top: #ddd;
  --CardHoveRCardFooter: #e0e0e0;
   --MainBackground: #edede9;
  --BotonCompraBackground: #f5f4f4;
  --BotonCompraBorder: #555;
  --color-button-primary-bg: #3498db;
  --color-button-primary-text: #fff;
  --color-button-secondary-bg: #e74c3c;
  --color-button-secondary-text: #fff;
  --color-bg-top: #1E2022;
}

.navbar {
  padding: 10px 0;
}

.navbar-brand {
  margin-right: auto;
  padding: 0 20px;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

body {
    background-color: var(--MainBackground);
  }

.boton404 {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.btn-custom {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--color-button-primary-text);
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: 2px solid var(--color-button-primary-bg);
    border-color: black; /* Cambiado a color negro */
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-custom:hover {
    background: var(--color-button-secondary-bg);
    text-decoration: none;
    color: var(--color-button-secondary-text);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-button-secondary-bg), 0 0 25px var(--color-button-secondary-bg),
                0 0 50px var(--color-button-secondary-bg), 0 0 100px var(--color-button-secondary-bg);
  }
  
  .btn-custom span {
    position: absolute;
    text-decoration: none;
    display: block;
  }
  
  .btn-custom span:nth-child(1) {
    top: 0;
    left: -100%;
    text-decoration: none;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--color-button-primary-bg));
    animation: btn-anim1 1s linear infinite;
  }

.imagen404 img {
    display: block;
    margin: 20px auto; /* Agrega margen superior e inferior y centra la imagen horizontalmente */
  }


/* Estilos para el footer */
footer {
    background-color: var(--color-bg-top); /* Cambia el fondo al mismo color de las tarjetas */
    padding: 10px 0;
    text-align: center;
    color: var(--ColorLetrasImgInicio);
    margin-top: auto;
  }
  
  footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer .col-12 {
    flex-basis: calc(20% - 20px); /* Ajusta el ancho de la columna */
    padding: 10px;
    border: 1px solid var(--CardText);
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: var(--CardBackground);
    color: var(--CardText);
  }
  
  /* Estilos para los íconos de redes sociales */
  .fa-2x {
    margin-right: 10px;
  }