:root {
  --ColorLetrasImgInicio: #faedcd;
  --ColorShadows: rgba(0, 0, 0, 0.1);
  --CardBackground: #fff;
  --CardText: #555;
  --CardFooterBackground: #f0f0f0;
  --CardFooterBorder-top: #ddd;
  --CardHoveRCardFooter: #e0e0e0;
   --MainBackground: #edede9;
  --BotonCompraBackground: #f5f4f4;
  --BotonCompraBorder: #555;
  --color-button-primary-bg: #3498db;
  --color-button-primary-text: #fff;
  --color-button-secondary-bg: #e74c3c;
  --color-button-secondary-text: #fff;
  --color-bg-top: #1E2022;
  --color-button-third-bg: #e9c46a;
}

body {
  background-color: var(--MainBackground);
}

.navbar {
  padding: 10px 0;
}

.navbar-brand {
  margin-right: auto;
  padding: 0 20px;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

.container-main{
    width: 100vm;
    height: 100vh;
    margin: 0 auto;
    padding: 40px;
    
}
.container-content{
    width: 80%;
    height: 66%;
    margin: 0 auto;
}
.container-buttons{
    display:flex;
    justify-content: space-around;
}


.btn-custom {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  border: 2px solid var(--color-button-primary-bg);
  border-color: black;
  cursor: pointer;
}

.btn-custom:hover {
  background: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-button-secondary-bg), 0 0 25px var(--color-button-secondary-bg),
              0 0 50px var(--color-button-secondary-bg), 0 0 100px var(--color-button-secondary-bg);
}
.btn-custom span {
  position: absolute;
  display: block;
}

.btn-custom span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--color-button-primary-bg));
  animation: btn-anim1 1s linear infinite;
}


.btn-custom2 {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  border: 2px solid #e9c46a;
  cursor: pointer;
}

.btn-custom2:hover {
  background: #e9c46a;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9c46a, 0 0 25px #e9c46a,
              0 0 50px #e9c46a, 0 0 100px #e9c46a;
}

.btn-custom2 span:nth-child(1) {
  background: linear-gradient(90deg, transparent, #e9c46a);
  animation: btn-anim1 1s linear infinite;
}

/* Animación de las tarjetas */
.card {
  margin: 10px;
  background-color: var(--CardBackground);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px var(--ColorShadows);
}

.card-body {
  padding: 20px; /* Ajusta el espacio interno según sea necesario */
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: var(--CardText);
}

.map {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px; /* Ajusta este valor según tus necesidades */
  height: 210px; /* Ajusta este valor para la altura */
}


/* Estilos para el footer */
footer {
  background-color: var(--MainBackground); /* Cambia el fondo al mismo color de las tarjetas */
  padding: 10px 0;
  text-align: center;
  color: var(--ColorLetrasImgInicio);
  margin-top: auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col-12 {
  flex-basis: calc(20% - 20px); /* Ajusta el ancho de la columna */
  padding: 10px;
  border: 1px solid var(--CardText);
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: var(--CardBackground);
  color: var(--CardText);
}

/* Estilos para los íconos de redes sociales */
.fa-2x {
  margin-right: 10px;
}

/* Estilos específicos para la imagen en el footer */
.footer-image {
  max-width: 100%; 
  height: auto; 
}